#app {
  background-color: white;
  max-width: 800pt;
  margin: 0 auto;
  box-shadow: 2pt 2pt 10pt 0pt rgba(153, 153, 153, 0.1); }
  #app #navigation {
    background: linear-gradient(#fcfeff, #eef5fc);
    box-shadow: 0pt 1pt 8pt 0pt rgba(204, 204, 204, 0.1); }
    #app #navigation a {
      padding: 8pt;
      text-decoration: none; }
      #app #navigation a.active {
        background-color: rgba(51, 153, 255, 0.6);
        color: white; }
  #app #main {
    margin: 10pt;
    padding: 8pt; }
    #app #main .listView .header, #app #main .listView .row, #app #main .listView .footer {
      border: 1px solid rgba(0, 0, 0, 0.6);
      padding: 4pt 8pt; }
    #app #main .listView .header .label, #app #main .listView .footer .label {
      font-style: italic;
      font-size: 11pt;
      margin-right: 10pt; }
    #app #main .listView .header {
      border-top-left-radius: 6pt;
      border-top-right-radius: 6pt;
      border-bottom: none; }
    #app #main .listView .rows .row span {
      margin: 0 4pt; }
    #app #main .listView .footer {
      border-bottom-left-radius: 6pt;
      border-bottom-right-radius: 6pt;
      border-top: none; }
      #app #main .listView .footer .actions .pure-button {
        font-size: 11pt;
        padding: 0.25em 0.5em; }
    #app #main .createView .pure-control-group > label, #app #main .editView .pure-control-group > label {
      vertical-align: top; }
    #app #main .createView .pure-radio, #app #main .editView .pure-radio {
      display: inline-block; }
      #app #main .createView .pure-radio label, #app #main .editView .pure-radio label {
        margin: 0 1em 0 0;
        width: auto;
        text-align: left;
        display: block; }
        #app #main .createView .pure-radio label input, #app #main .editView .pure-radio label input {
          margin: 0 4pt 0 0; }

